body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6d2ed; /* Light purple background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: 250px;
}

h1 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 0.5rem;
    font-family: 'Vollkorn', serif;
}

.subtitle {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 2rem;
    font-family: 'Varela Round', sans-serif;
}

.search-form {
    display: inline-block;
}

.search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 300px;
    font-family: 'Vollkorn', serif;
}

.search-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}

.search-button:hover {
    background-color: #333;
}